
doctype html
html
	head
		meta(charset="utf-8")
		title Account popup

	body
		h1 Account popup
		div(id="google-signin")
		a(id="google-signout" href="#" onclick="signOut()" style="display: none;") Sign out

		script.
			window.settings = !{JSON.stringify(locals.settings)}
		script(src="account-popup-script.bundle.js")
		script(src="https://apis.google.com/js/platform.js?onload=start" async defer)
