
doctype html
html
	head
		meta(charset="utf-8")
		title Login

	body
		h1 Login
		div(id="google-signin")
		a(id="google-signout" href="#" onclick="signOut()" style="display: none;") Sign out

		script.
			window.config = !{JSON.stringify(locals.config)}
		script(src="login-script.bundle.js")
		script(src="https://apis.google.com/js/platform.js?onload=loginScript" async defer)
